// Module styles for the VenueInfo component.
@import "index";

.venueInfo {
  @extend .card;
  text-align: left;
  padding: 16px 32px;
}

.title {
  margin-top: 0;
  text-align: center;
}

.sourceLink {
  display: block;
  text-align: right;
}
