
// Module styles for WeddingInfo component.

@import 'colors';
@import 'devices';
@import 'index';
@import 'material-shadows/material-shadows';

.container {
  max-width: 640px;
  margin: 0 auto;
}

.container p {
  line-height: 24px;
}

.container sup {
  vertical-align: top;
  position: relative;
  top: -0.4em;
}

.signature {
  text-align: right;
  font-style: italic;
  font-size: 1.2rem;
  margin-bottom: 16px;
}

.weddingInfo {
  @extend .card;
}

.title {
  margin-top: 0;
}

.countdown {
  @extend .overline;
}

.events {
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
}

.event {
  margin: 0 24px;
  flex: 1 0 0px;
}

.eventLinks {
  margin-top: 16px;
}

.eventLinks div:not(:last-child) {
  margin-bottom: 8px;
}

.videoContainer {
  margin-top: 16px;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media #{$screen-phone} {
  .events {
    flex-direction: column;
  }

  .event {
    margin: 0 16px;
  }
}
