@import '../devices';
@import '../colors';
@import 'material-shadows/material-shadows';

.weddingInfo {
  margin-top: -24px;
}

.title {
  margin-top: 0;
}

.countdown {
  color: $burgundy;
}

.events {
  display: flex;
  justify-content: center;
}

.event {
  margin: 0 24px;
}

@media #{$screen-phone} {
  .events {
    flex-direction: column;
  }

  .event {
    margin: 0 16px;
  }
}
