// Module styles for WeddingInfo component.

@import "colors";
@import "devices";
@import "index";
@import "material-shadows/material-shadows";

.weddingInfo {
  @extend .card;
}

.title {
  margin-top: 0;
}

.countdown {
  @extend .overline;
}

.events {
  display: flex;
  justify-content: center;
}

.event {
  margin: 0 24px;
}

@media #{$screen-phone} {
  .events {
    flex-direction: column;
  }

  .event {
    margin: 0 16px;
  }
}
