@import 'colors';

.loadingContainer {
  align-items: center;
  display: flex;
  justify-content: center;
}

.spinner {
  margin-right: 16px;
}

.respondentForm {
  overflow: hidden;
}

.respondentForm:not(:last-child) {
  background-image: linear-gradient(
    to right,
    $secondary 50%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 16px 1px;
  background-repeat: repeat-x;
}
