// Module styles for RsvpForm component.

@import "index";
@import "devices";

.rsvpForm {
  @extend .card;
  margin-top: 0;
}

.title {
  margin-top: 0;
}

@media #{$screen-mobile} {
  .rsvpForm {
    padding-left: 0;
    padding-right: 0;
  }
}
