// Styles for HotelsInfo component.

@import "index";

$splash-image: url("images/ComfortSuites.png");

.splash {
  width: 100%;
  height: 40vh;
  background: $splash-image center 40% / cover no-repeat;
}

.hotelsInfo {
  @extend .card;

  .title {
    margin: 0;
  }

  .hotelsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.hotel {
  margin: 16px;
  min-width: 250px;
  .hotelImage {
    max-height: 100px;
  }
  .hotelButtons {
    padding: 8px 0;
    button:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.rateCode {
  white-space: nowrap;
}

.markerLabel {
  overflow: visible !important;

  .markerLabelContent {
    position: relative;
    left: -50%;
    top: -75px;
    background-color: white;
    border-radius: 4px;
    padding: 8px;
  }
}
