// Module styles for Gallery component.
@import "index";
@import "colors";

.gallery {
  @extend .sectionMargins;
}

.photographerLink:global(.MuiButtonBase-root) {
  margin-top: 16px;
}

:global .image-gallery-content {
  .image-gallery-image {
    height: 100vh;
    img {
      object-fit: contain;
      object-position: center center;
      height: 100%;
    }
  }

  &:not(.fullscreen) {
    .image-gallery-image {
      height: 66.41vw;
      max-height: 600px;
    }
  }
}

:global .image-gallery-slide-wrapper {
  button::before {
    color: lighten($secondary, 20%);
    text-shadow: 0 2px 2px lighten($secondary, 50%);
  }
  button:hover::before,
  button:focus::before {
    color: $secondary;
  }
}
