// Module styles for EmailForm component.

@import 'index';

.emailForm {
  @extend .card;
  margin-top: 0;
}

.title {
  margin-top: 0;
}

.form {
  align-items: center;
  display: flex;
  justify-content: center;
}

.emailForm .verifyInput {
  margin-top: 16px;
}

.emailForm .submitButton {
  margin-left: 8px;
}

.pleaseSignUp,
.thankYou {
  max-width: 640px;
  margin: 0 auto 16px auto;
}
