// Module styles for Navigation component.
@import "index";

.navigation {
  @extend .card;
}

.menu {
  display: flex;
  justify-content: center;
  margin: 16px 24px;
}

.menuItem {
  display: flex;
  margin: 0 16px;
}

.nowrap {
  display: inline-block;
}
